.Calculator {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 25px;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color:#141414;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 5% 200%, #006eeb9a 0, transparent 50%), 
    radial-gradient(at 100% -75%, #d402029a 0, transparent 50%);
}

.Calculator-logo {
  height: 200px;
}

.Calculator-catBag {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Calculator-catBag {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .Calculator-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Calculator-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.amplify-checkbox__icon[data-checked='true'] {
  background-color: #3367ef;
}